
###> symfony/framework-bundle ###
/var/
/vendor/
vendor/
var/
.idea
###< symfony/framework-bundle ###


###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
