.UserProfileContainer{
    width: 90% !important;
    height: 80% !important;
    margin-top: 20px;
    padding: 30px;
   
}

.UserProfileRow{
    height: 100%;
}
.ViewCollapse {
    font-size: 25px;
    border-bottom: 1px solid #d3d3d3;
    margin: 5px 0px 5px 0px ;
    cursor: pointer;
}
.Group {
    padding: 3px;
    margin: 0px 5px 0px 5px;
    color:#fff;

    padding: 5px;
    margin: 3px;
}

.UserCard{
    border-radius: 0px;
    text-align: center;
    padding: 10px;
}
.UserEditCard{
    border-radius: 0px;
    padding: 10px;
}

@media (max-width: 991px) {
    .UserProfileContainer{
        width:100% !important;
        height:100% !important;
        padding:0%;
        margin: 0%;
    }
    
}

