.UserProfileContainer{
    width: 90% !important;
    height: 80% !important;
  
    margin-top: 20px;
    padding: 30px;
   
}

.UserProfileRow{
    height: 100%;
}
.ViewCollapse {
    font-size: 25px;
    border-bottom: 1px solid #d3d3d3;
    margin: 5px 0px 5px 0px ;
    cursor: pointer;
}
.Group {
    width: 100%;
    display: block;
    padding: 5px;
    margin: 3px;
}

.UserCard{
    border-radius: 0px;
    text-align: center;
    padding: 10px;
}
.UserEditCard{
    border-radius: 0px;
    padding: 10px;
}


