.SessionViewContainer {
    width: 90% !important;
    height: 80% !important;
    margin-top: 20px;
    padding: 30px;
}
.SessionViewRow{
    height: 100%;
}
.CreatorCard {
    text-align: center;
    padding: 5px;
}
.ViewCollapse {
    font-size: 25px;
    border-bottom: 1px solid #d3d3d3;
    margin: 10px 0px 10px 0px ;
    cursor: pointer;
}
.EventTable{
    width: 100% !important;
}

.AddComment textarea {
    display:inline-block;
    position: relative;
    width: 80%;
   
}

.ButtonModify{
    float: right;
}

@media (max-width: 800px) {
    .SessionViewContainer {
        width: 100% !important;
        margin: 2px 0px 0px 0px;
        padding: 0px;
    }

}