.SessionViewContainer {
    width: 90% !important;
    height: 80% !important;
    margin-top: 20px;
    padding: 30px;
}
.SessionViewRow{
    height: 100%;
}
.CreatorCard {
    text-align: center;
    padding: 5px;
}
.ViewCollapse {
    font-size: 25px;
    border-bottom: 1px solid #d3d3d3;
    margin: 10px 0px 10px 0px ;
    cursor: pointer;
}

.UserProfileLetter {
    margin: 0px auto 0px auto;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 40px;
    text-transform: uppercase;
}