.AdminCardContainer {
    margin-top: 40px;
    width: 80% !important;
}

.AdminCard {
    text-align: center;
    margin-top: 20px;
}

.AdminCardIcon {
    font-size: 100px;
    margin: 5px auto 0px auto;
}

.AdminCardBtn{
    border-radius: 0px ! important;
    background-color:rgba(11, 191, 140, 0.93) !important;
    border-color:rgba(11, 191, 140, 0.93) !important;
}

.AdminCardType{
    margin-top: -23px;
}

@media (max-width: 991px) {
    .AdminCardContainer{
        width: 100% !important;
        height: 100% !important;
        margin:0%;
    }
}
@media (max-width: 1317px) {
    .AdminCardType{
        margin-top: -45px;
    }
}
