.LoaderContainer{
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    top: 0px;
    
}

.LoaderContent {
    z-index: 101;
    width: 0px;
    position: absolute;
    top: calc(50vh - (/* height */100px / 2));
    left: calc(50vw - (/* width */140px / 2));
}
.LoaderContent h3 {
    color:#fff !important;
    font-weight: 450;
}

