html, body, #root, #root>div {
  height: 100%;
  width : 100%;
}

.modal-content{
  border-radius: 0px !important;
}
button{
  border-radius: 0px !important;
}
.btn-primary{
  background-color:rgba(11, 191, 140, 0.93) !important;
  border-color:rgba(11, 191, 140, 0.93) !important;
}

/* Animations */
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
opacity: 1;
transition: opacity 1000ms linear;
}

/* enter */
.fade-enter {
opacity: 0;
z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 5000ms linear;
}
.fade-exit-done {
opacity: 0;
}
