.title{
    text-align: center;
    margin-top: 2%;
}

.add{
    position: fixed;
    height: 50px;
    width: 50px;
    margin-left: 15%;
}

.add:hover{
    background-color: rgba(240 , 240, 240,0.952);
} 

.remove{
    
    position: fixed;
    height: 50px;
    width: 50px;
    margin-left: 82%;
}